/* font-family: bely-display, sans-serif; */
@import url("https://use.typekit.net/lzp6rhe.css");

/* font-family: 'Inter', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Design System - variables etc. */
@import "designsystem.css";

/* ------------ CSS RESET -------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--white);
}

button {
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: none;
  opacity: 1;
  transition: 0.3s;
}
button:hover {
  opacity: 0.8;
  transition-timing-function: ease-in-out;
}

textarea:focus,
input:focus,
select:focus {
  outline-color: var(--green);
}

select:active {
  color: black;
}

/* ---------- Padding wide ------------*/
.paddingTopAllPages {
  padding-top: 10%;
}

.paddingWide {
  padding: 0 5%;
}

.sectionPadding {
  padding: 8rem 5%;
}

.paddingTopBottom {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.paddingBottom {
  padding-bottom: 10%;
}

.paddingBottomSmall {
  padding-bottom: 1rem;
}

/* ---------- Page Padding Bottom ------------*/
.PaddingPage {
  padding-bottom: 170px;
  padding-top: 1rem;
}

/* ---------- Font Padding ------------*/
.font-padding {
  padding: 0.5rem 0;
}

/* ------------ NAV MOBILE ----------- */
.navMobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 70px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 4;
  width: 100%;
  background-color: var(--white);
}

.navMobile ul {
  display: flex;
  gap: 2rem;
}

.navLogo img {
  height: 33px;
}

.navDesktop {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navDesktop ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

nav ul {
  list-style-type: none;
}

.active {
  color: var(--green);
}

nav a {
  color: var(--black);
  text-decoration: none;
  font-family: var(--inter);
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
}

nav a {
  color: var(--black);
  text-decoration: none;
  font-family: var(--inter);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
}

footer {
  display: none;
}

/* --------------- bottom bar --------------- */
.wrapper-bottombar {
  display: none;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px 0 10px var(--lightgrey);
  height: 90px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  z-index: 100;
}

.bottombar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wrapper-bottombar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0rem;
  margin-bottom: 0rem;
}

.sellbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkgreen);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.plusicon path {
  fill: none;
  stroke: var(--white);
  stroke-width: 2px;
  color: var(--white);
}

/* --------------- BIG CAROUSEL SWIPER.JS ----------------- */
.carouselSection {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.swiper-pagination {
  margin-top: 30px;
  position: relative !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(139, 139, 139) !important;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container p {
  margin-bottom: 0px !important;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  align-items: flex-end;
  min-height: 60vh;
  border-radius: 25px;
  color: white;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 1rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid --darkgrey;
  color: red;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
.swiper-slide {
  background-color: rgb(0, 0, 0);
}

.font-describe-title {
  font-size: 11px;
}
.font-describe-title-book {
  font-size: 11px;
}

.font-blog-big {
  font-size: 20px;
  max-width: 30ch;
}

/* ------- LANDING BIG CAROUSEL TOP ---------- */
.carouselHeader {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3rem;
}

.carouselContent {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7651435574229692) 0%,
    rgba(107, 121, 9, 0) 100%
  );
}

.font-belyBig {
  font-size: 2.2rem;
}

/* --------- LANDINGPAGE TOAST GREET ----------------*/
.loginToastLanding {
  padding-top: 10%;
}

/* ------- CHAT ---------- */
.chat-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 3em;
  margin-top: 2em;
}

.wrapper-messages {
  display: flex;
  flex-direction: row;
}

.chat-error-message {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.chat-error-message img {
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 1rem;
}

.error-image img {
  padding-right: 0;
}

.chat-buttonschange {
  border: none;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 15px 0px;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid var(--darkgreen);
  background-color: var(--white);
}

.chatButtonsSelected {
  color: var(--white);
  border: none;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 15px 0px;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid var(--darkgreen);
  background-color: var(--darkgreen);
}

.chatComment{
  width: 100%;
}

.chatCommentBox{
  width: 50%;
}

.chatComment img{
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.chatBookImage{
  background-color: var(--lightgrey);
  animation: pulse 1.5s 1 ease-in-out;
  border-radius: 12px;
}

/*-----------ProfilePage------------*/
.blockProfile {
  display: block;
}

.imageProfile {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.redigerIkoner {
  justify-content: space-between;
}

.iconsizeEdit {
  width: 25px;
  height: 25px;
  color: black;
}

.iconsizeProfile {
  color: var(--darkgrey);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.ProfileInfo h2,
.iconsGroup {
  padding-bottom: 3px;
}

.moneyProfile {
  margin-bottom: 5%;
  /* padding: 5%; */
  border-radius: 12px;
  padding: 20px;
  height: 85px;
  justify-content: space-between;
}

.co2Profile {
  margin-bottom: 10%;
  /* padding: 5%; */
  border-radius: 12px;
  padding: 20px;
  height: 85px;
}

.co2ProfileText {
  justify-content: space-between;
  /* padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px; */
}

/* .Profile-illustration img {
  height: 35px;
  padding-left: 8px;
  padding-right: 8px;
} */

.savingsProfile {
  padding-top: 10%;
}
.imgName-wrapper {
  gap: 1em;
}

/* ----------- Edit profile - EditProfile.JS --------------*/
section.redigerProfil > * {
  margin-bottom: 5%;
}

.editForm input,
.editForm textarea,
.editForm select {
  margin-bottom: 5%;
  margin-top: 2%;
  cursor: pointer;
}

.imgageh {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.editForm input,
.editForm select,
.editForm option {
  font-family: var(--inter);
  color: var(--darkgrey);
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 12px;
  border: 1px solid var(--darkgreen);
}

.editForm textarea {
  font-family: var(--inter);
  color: var(--darkgrey);
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 12px;
  border: 1px solid var(--darkgreen);
  height: 7rem;
}

.editName {
  width: 70%;
  margin-left: 10%;
  margin-right: 1%;
}

.editSubmit {
  background-color: var(--green);
  border: none;
}

.interesser {
  display: flex;
  flex-wrap: wrap;
}

.interestsBtn {
  padding: 0.7rem 1rem 1.9rem;
  height: 35px;
  border-radius: 12px;
  margin-top: 2%;
  justify-content: space-between;
  margin-right: 5px;
}

.interestsBtn p {
  padding-right: 20px;
}

.crossIcon path {
  fill: none;
  stroke: var(--white);
  stroke-width: 2px;
  color: var(--white);
  width: 15px;
  height: 15px;
}

.iconsizeCross {
  width: 20px;
  height: 20px;
}

option .iconsize {
  width: 30px;
  height: 30px;
}

/*------------ PRAKTISK INFO - PracticalInfo.js----------*/
.goBack a {
  color: black;
  text-decoration: none;
}

.goBack p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.goBack a:visited {
  color: black;
}

.PracticalIcon {
  margin-bottom: 10%;
}

.practicalInfo hr {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.praktisk {
  justify-content: space-between;
}

/* ----------- OPRET BOG - OPRETSALG.JS --------------*/

.imageUpload > input {
  display: none;
}

.opretBogForm input,
select {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  padding: 15px 20px;
  border-radius: 12px;
  border: 2px solid var(--lightgrey);
}

.opretBogForm input {
  color: var(--black);
}

select {
  color: var(--darkgrey);
}

.opretBogForm textarea {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  padding: 15px 20px;
  border-radius: 12px;
  border: 2px solid var(--lightgrey);
  height: 7rem;
}

.opretBogForm input::placeholder {
  font-family: var(--inter);
  color: var(--darkgrey);
  font-weight: 400;
  font-size: 15px;
}
/* select::placeholder {
  font-family: var(--inter);
  color: var(--green);
  font-weight: 400;
  font-size: 15px;
} */

.bogSalgInputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}

.paddingHeader {
  padding-bottom: 1.2rem;
}

select {
  appearance: none;
  background-image: url(../assets/svg/arrowDown.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 15px;
  background-origin: content-box;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  padding: 1rem 1rem;
  border-radius: 12px;
  background-color: var(--lightgrey);
  display: inline-block;
  cursor: pointer;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file-upload img {
  height: 80%;
}

/* ------------ BLOG POSTS - PAGE -------------- */
.blogPostPage img {
  width: 100%;
  height: auto;
  margin: 1rem 0;
  border-radius: 25px;
}

.blogPostPage article {
  padding: 1.5rem 0;
}

.blogSection h3 {
  padding-bottom: 1rem;
}

/* ------------ BOOK TEASERS -------------- */
.article-wapper {
  display: grid;
  grid-gap: 20px;
  padding-top: 30px;
}
.article-wapper-small {
  display: grid;
  grid-gap: 20px;
  padding-top: 30px;
}
.card-teaser-wrapper {
  position: relative;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.image-teaser-wrapper {
  background-color: var(--lightgrey);
  animation: pulse 1.5s 1 ease-in-out;
  border-radius: 12px;
}
.card-teaser-wrapper-small {
  position: relative;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.image-teaser-wrapper-small {
  background-color: var(--lightgrey);
  animation: pulse 1.5s 1 ease-in-out;
  border-radius: 12px;
}

.book-teaser-image {
  max-width: 125;
  height: 125px;
  object-fit: cover;
  border-radius: 12px;
}

.book-cut-title {
  overflow: hidden;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price-cut {
  overflow: hidden;
  max-width: 4ch;
  white-space: nowrap;
  text-overflow: clip;
}

.price-wrapper {
  gap: 2px;
}

.book-text-wrapper {
  justify-content: space-between;
  align-items: center;
}

.favorite-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.readmore-btn {
  width: 100px;
  height: 35px;
  border-radius: 12px;
}

.card-title-btn {
  justify-content: space-between;
}

@keyframes pulse {
  0% {
    background-color: var(--lightgrey);
  }

  50% {
    background-color: var(--darkgrey);
  }

  100% {
    background-color: var(--lightgrey);
  }
}

/* -------------- LOGIN ---------------- */
.loginSection {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  background-color: white;
  z-index: 111;
}

.loginHeader {
  width: 100%;
  height: 50vh;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.btn-login {
  text-decoration: none;
  padding: 15px 0px;
  width: 315px;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid var(--black);
  gap: 3rem;
}

.btnContinue {
  text-align: center;
  display: inline-block;
  padding: 15px 0px;
  width: 100%;
  min-width: 327px;
  border-radius: 12px;
  cursor: pointer;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
}

.auth-provideres {
  flex-direction: column;
  gap: 1em;
}
.email-btn-wrapper {
  flex-direction: column;
  gap: 0.5em;
}

.facebookLogin svg {
  fill: #4267b2;
}

.loginIcons svg {
  margin-left: 2rem;
}

/*------------SPLASH-------------*/
.SplashSection {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 11111;
}

.splashBtn {
  margin-top: 2%;
}

.splashIndhold {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  padding-bottom: 5%;
  padding-top: 5%;
}

.splashIndhold h2 {
  font-size: 5rem;
  max-width: 15ch;
}

.splashIndhold p {
  line-height: 2;
  padding-top: 5%;
  font-size: 1.2rem;
}

.splashBody {
  margin-bottom: 2rem;
}

/* ------------ BOOKPAGE -------------- */
.userBookImage {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 0.4rem;
}
.shift-flex-direction {
  flex-direction: column;
  justify-content: space-between;
}
.education-book {
  text-align: end;
}
.wrapperbigscreen {
  flex-direction: column;
}

.bookHeader {
  margin-bottom: 1.5rem;
}

.bookEditBtn {
  margin-bottom: 2rem;
}

.crossicon-wrapper {
  justify-content: end;
}

.title-author-hearticon {
  justify-content: space-between;
}

.price-watch {
  justify-content: space-between;
  align-items: center;
}

.Align-Number-book {
  align-self: center;
}
.wrapper-price-profile-description-delevery {
  flex-direction: column;
  gap: 1em;
  margin-bottom: 50px;
}

.wrapper-information {
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
  gap: 1em;
}

.bookDescription {
  margin-bottom: 1.5rem;
  line-height: 140%;
}

.bookpageUserInfo {
  margin-bottom: 1rem;
}

.bookpagePrice {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.iconsizeHeart svg {
  width: 30px;
  height: 30px;
  stroke: var(--darkgreen);
}

button.iconsizeHeart {
  display: flex;
}
.image-wrapper-book {
  width: 100%;
  min-height: 45vh;
  border-radius: 12px;
}
.iconandnumber {
  gap: 6px;
}

/* ------------ BOOKAGENT -------------- */
.BookAgentCard {
  display: flex;
  align-items: flex-end;
  color: white;
  background-color: var(--darkgreen);
  min-height: 25vh;
  border-radius: 25px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 1rem;
}

.fontting {
  text-transform: capitalize;
}

.BookAgentTitle {
  padding-bottom: 2rem;
}

/*----Favoritter-----*/
.favourites {
  min-height: 90vh;
}

/*----Søg-----*/
.search input {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  padding: 15px 20px;
  border-radius: 12px;
  border: 2px solid var(--lightgrey);
}

.unseen-scroll-div {
  margin-top: 50px;
}

.classicSearch ul {
  list-style-type: none;
}

.Advanced h3 {
  margin-top: 7%;
}

.classicSearch hr {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/*---- Søg item -----*/
.search-btn {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 15px;
  color: var(--darkgrey);
}

/* --------- PROGRESS BAR ---------- */
.progress-bar {
  background-color: var(--green);
}

.progress {
  padding: 2rem;
}

/* ------------- COMMENTS FOR BOOKPAGE.JS -------------- */
.addCommentSection {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.addComment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.addComment input {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  padding: 15px 20px;
  border-radius: 12px;
  border: 2px solid var(--lightgrey);
}

.commentBookPage img {
  height: 50px;
  width: 50px;
}

.btn-send {
  padding: 10px 10px;
  border-radius: 12px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.btn-send svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  stroke: var(--white);
}

/* ------------ RESPONSIVE BREAKPOINTS -------------- */
@media only screen and (min-width: 1281px) {
  .navLogo img:hover {
    opacity: 0.5;
    transition: 0.5s;
  }

  .navMobile {
    display: none;
  }

  .bottombar {
    display: none;
  }

  .card-teaser-wrapper {
    width: 20vw;
    height: auto;
  }

  .image-teaser-wrapper {
    width: 20vw;
    height: 20vw;
  }
  .card-teaser-wrapper-small {
    width: 15vw;
    height: auto;
  }
  .image-teaser-wrapper-small {
    width: 15vw;
    height: 15vw;
  }

  .article-wapper {
    grid-template-columns: repeat(4, 0fr);
    grid-auto-rows: auto;
    justify-content: space-between;
  }
  .article-wapper-small {
    grid-template-columns: repeat(3, 0fr);
    grid-auto-rows: auto;
    grid-gap: 3em;
  }

  .loginToastLanding {
    padding-top: 5%;
  }
  /*---Carrousel---*/

  .font-belyBig {
    font-size: 50px;
  }

  .font-describe-title {
    font-size: 21px;
  }

  .font-blog-big {
    font-size: 30px;
  }

  /* ------------- book agent card ----------------*/
  .BookAgentCard {
    height: 60vh;
    padding-left: 3rem;
    padding-bottom: 3rem;
  }

  .BookAgentTitle {
    max-width: 36ch;
  }

  /* ------------- Swiper slide ----------------*/
  .swiper-slide {
    padding-left: 3rem;
    padding-bottom: 3rem;
  }

  /*-----CHAT-----*/
  .chat-error-message img {
    width: 20%;
  }

  /*-----Profil-----*/
  .savingsProfile {
    display: flex;
  }

  .moneyProfile {
    width: 45%;
  }

  .co2Profile {
    width: 45%;
  }
  /*----Footer-----*/
  footer {
    font-family: var(--inter);
    font-weight: 600;
    display: block;
    box-shadow: 0px 0 10px var(--lightgrey);
  }

  Footer ul {
    list-style-type: none;
  }

  Footer a {
    color: var(--darkgreen);
    text-decoration: none;
  }

  Footer a:hover {
    opacity: 0.5;
    transition: 0.5s;
  }

  Footer ul {
    list-style-type: none;
  }

  .FooterLogo img {
    height: 80px;
  }

  .FooterCopyright {
    text-align: center;
  }

  .FooterCopyright p {
    padding-top: 4%;
    font-size: 15px;
    display: block;
  }

  .FooterDesk {
    display: flex;
    justify-content: space-between;
    margin-right: 7%;
    margin-left: 7%;
    padding-top: 5%;
  }

  .FooterDesk ul {
    justify-content: center;
    align-items: center;
  }

  .FooterImg {
    z-index: 2;
  }

  .FooterDesk button {
    margin-top: 20%;
  }

  .detmedsmaat {
    display: block;
    z-index: 2;
    bottom: 0.1vw;
  }

  .bigscreenpadding {
    padding-left: 25%;
    padding-right: 25%;
  }
}

@media only screen and (min-width: 961px) and (max-width: 1280px) {
  .navMobile {
    display: flex;
  }

  .navDesktop {
    display: none;
  }

  .loginToastLanding {
    padding-top: 5%;
  }

  .wrapper-bottombar {
    display: flex;
  }

  .card-teaser-wrapper {
    width: 20vw;
    height: auto;
  }

  .image-teaser-wrapper {
    width: 20vw;
    height: 20vw;
  }
  .card-teaser-wrapper-small {
    width: 20vw;
    height: auto;
  }
  .image-teaser-wrapper-small {
    width: 20vw;
    height: 20vw;
  }

  .article-wapper {
    grid-template-columns: repeat(4, 0fr);
    justify-content: space-between;
  }
  .article-wapper-small {
    grid-template-columns: repeat(4, 0fr);
    grid-auto-rows: auto;
    grid-gap: 3em;
  }

  /*-----CHAT-----*/
  .chat-error-message img {
    width: 25%;
  }

  /* ------------- book agent card ----------------*/
  .BookAgentCard {
    height: 60vh;
    padding-left: 3rem;
    padding-bottom: 3rem;
  }

  .BookAgentTitle {
    max-width: 36ch;
  }

  /*-------------Profile-------------*/
  .savingsProfile {
    display: flex;
  }

  .moneyProfile {
    width: 48%;
  }

  .co2Profile {
    width: 48%;
  }

  /* ------------- Swiper slide ----------------*/
  .swiper-slide {
    padding-left: 3rem;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 960px) {
  .sectionPadding {
    padding: 3rem 5%;
  }

  .navMobile {
    display: flex;
  }

  .navDesktop {
    display: none;
  }

  .wrapper-bottombar {
    display: flex;
  }

  .card-teaser-wrapper {
    width: 25vw;
    height: auto;
  }

  .image-teaser-wrapper {
    width: 25vw;
    height: 25vw;
  }
  .card-teaser-wrapper-small {
    width: 25vw;
    height: auto;
  }
  .image-teaser-wrapper-small {
    width: 25vw;
    height: 25vw;
  }

  .article-wapper {
    grid-template-columns: repeat(3, 0fr);
    justify-content: space-between;
  }
  .article-wapper-small {
    grid-template-columns: repeat(3, 0fr);
    grid-auto-rows: auto;
    grid-gap: 3em;
  }

  .swiper-slide {
    min-height: 40vh;
  }

  .splashIndhold {
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 600px) {
  .navMobile {
    display: flex;
  }

  .navDesktop {
    display: none;
  }

  .wrapper-bottombar {
    display: flex;
  }
  .card-teaser-wrapper {
    width: 40vw;
    height: auto;
  }

  .image-teaser-wrapper {
    width: 40vw;
    height: 40vw;
  }
  .card-teaser-wrapper-small {
    width: 40vw;
    height: auto;
  }
  .image-teaser-wrapper-small {
    width: 40vw;
    height: 40vw;
  }

  .article-wapper {
    grid-template-columns: repeat(auto-fill, minmax(40vw, 0fr));
    justify-content: space-between;
  }
  .article-wapper-small {
    grid-template-columns: repeat(auto-fill, minmax(40vw, 0fr));
    justify-content: space-between;
    grid-gap: 0em;
  }

  .swiper-slide {
    min-height: 25vh;
  }

  /* SPLASH PAGE */

  .splashIndhold h2 {
    font-size: 2.8rem;
    max-width: 15ch;
  }

  .splashIndhold p {
    line-height: 2;
    padding-top: 5%;
    font-size: 1rem;
  }

  .splashIndhold {
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 370px) {
  .navMobile {
    display: flex;
  }

  .navDesktop {
    display: none;
  }

  .wrapper-bottombar {
    display: flex;
  }
  .card-teaser-wrapper {
    width: 90vw;
    height: auto;
  }
  .image-teaser-wrapper {
    width: 90vw;
    height: 90vw;
  }
  .card-teaser-wrapper-small {
    width: 90vw;
    height: auto;
  }
  .image-teaser-wrapper-small {
    width: 90vw;
    height: 90vw;
  }
  .article-wapper {
    grid-template-columns: repeat(auto-fill, minmax(90vw, 0fr));
    justify-content: center;
  }
  .article-wapper-small {
    grid-template-columns: repeat(auto-fill, minmax(90vw, 0fr));
    justify-content: center;
    grid-gap: 0em;
  }

  .swiper-slide {
    min-height: 30vh;
  }

  .splashIndhold h2 {
    font-size: 2rem;
    max-width: 15ch;
  }

  .splashIndhold p {
    line-height: 2;
    padding-top: 5%;
    font-size: 1rem;
  }

  .splashIndhold {
    padding-bottom: 10%;
  }
}
