/* font-family: bely-display, sans-serif; */
@import url("https://use.typekit.net/lzp6rhe.css");

/* font-family: 'Inter', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Design System - variables etc. */
@import "designsystem.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Padding wide */
.paddingWide{
    padding: 0px 5%;
}

.sectionPadding{
    padding: 10% 5%;
}

/* NAV MOBILE */
.navMobile{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navMobile ul{
    display: flex;
    gap: 2rem;
}

.navLogo img{
    height: 38px;
}

.navLogo img:hover{
    opacity: 0.5;
    transition: 0.5s;
}

.navDesktop{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navDesktop ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

nav ul{
    list-style-type: none;
}

nav a:active{
    color: var(--darkgreen);
}

nav a{
    color: var(--black);
    text-decoration: none;
    font-family: var(--inter);
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
}

nav ul{
    list-style-type: none;
}

nav a:active{
    color: var(--darkgreen);
}

nav a{
    color: var(--black);
    text-decoration: none;
    font-family: var(--inter);
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
}
/* buttom bar */
.wrapper-bottombar{
  display: flex; 
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--white);
  height: 70px;
  padding-left:5%;
  padding-right:5%;
  z-index: 100;
}
.bottombar{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.wrapper-bottombar ul{
    list-style-type: none;
    padding-left: 0rem;
    margin-bottom: 0rem;
}

.sellbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkgreen) ;
    width: 54px;
    height: 54px;
    border-radius: 50px;
}
.plusicon path{
    fill: none;
    stroke: var(--white);
    stroke-width: 2px;
    color: var(--white);
}
.plusicon path:focus{
        stroke: var(--green);
    stroke-width: 2px;
    color: var(--green);
}


/* BIG CAROUSEL SWIPER.JS */
.carouselSection{
    padding-top: 5%;
    padding-bottom: 5%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: rgb(255, 69, 69);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 300px;
    border-radius: 20px;
    color: white;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.swiper-container {
    width: 100%;
    height: 300px;
    margin: 20px auto;
}
.append-buttons {
    text-align: center;
    margin-top: 20px;
}
  
.append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid --darkgrey;
    color: red;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
}

/* Pagination*/
.swiper-pagination {
    margin-top: 3em;
}



/* RESPONSIVE BREAKPOINTS */
@media only screen and (max-width: 1600px) {
    .navMobile{
        display: none;
    }
}
  
@media only screen and (max-width: 1280px) {
    .navMobile{
        display: none;
    }
}
  
@media screen and (max-width: 960px) {
    .navMobile{
        display: flex;
    }

    .navDesktop{
        display: none;
    }

}
  
@media screen and (max-width: 600px) {
    .navMobile{
        display: flex;
    }

    .navDesktop{
        display: none;
    }
}


  