/* font-family: bely-display, sans-serif; */
@import url("https://use.typekit.net/lzp6rhe.css");

/* font-family: 'Inter', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Design System - variables etc. */
@import "designsystem.css";

/* ------------ CSS RESET -------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

button {
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: none;
}

/* ---------- Padding wide ------------*/
.paddingWide {
  padding: 0px 5%;
}

.sectionPadding {
  padding: 10% 5%;
}

/* ---------- Page Padding Bottom ------------*/
.PaddingPage {
  padding-bottom: 70px;
}

/* ---------- Font Padding ------------*/
.font-padding {
  padding: 0.5rem 0;
}

/* ------------ NAV MOBILE ----------- */
.navMobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navMobile ul {
  display: flex;
  gap: 2rem;
}

.navLogo img {
  height: 38px;
}

.navLogo img:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.navDesktop {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navDesktop ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

nav ul {
  list-style-type: none;
}

nav a:active {
  color: var(--darkgreen);
}

nav a {
  color: var(--black);
  text-decoration: none;
  font-family: var(--inter);
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
}

nav a {
  color: var(--black);
  text-decoration: none;
  font-family: var(--inter);
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
}

/* --------------- bottom bar --------------- */
.wrapper-bottombar {
  display: none;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--white);
  height: 70px;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 100;
}

.bottombar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrapper-bottombar ul {
  list-style-type: none;
  padding-left: 0rem;
  margin-bottom: 0rem;
}

.sellbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkgreen);
  width: 54px;
  height: 54px;
  border-radius: 50px;
}

.plusicon path {
  fill: none;
  stroke: var(--white);
  stroke-width: 2px;
  color: var(--white);
}

/* --------------- BIG CAROUSEL SWIPER.JS ----------------- */
.carouselSection {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.swiper-pagination {
  margin-top: 30px;
  position: relative !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(139, 139, 139) !important;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container p {
  margin-bottom: 0px !important;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  align-items: flex-end;
  min-height: 60vh;
  border-radius: 25px;
  color: white;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 1rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid --darkgrey;
  color: red;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
.swiper-slide {
  background-color: rgb(0, 0, 0);
}

/* ------- LANDING BIG CAROUSEL TOP ---------- */
.carouselHeader {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3rem;
}

.carouselContent {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7651435574229692) 0%,
    rgba(107, 121, 9, 0) 100%
  );
}
/* ------- CHAT ---------- */
.chat-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 3em;
  margin-top: 2em;
}

.btnActiveSale {
  background-color: var(--darkgreen);
}
.wrapper-messages {
  display: flex;
  flex-direction: row;
}
.chat-error-message {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.chat-buttonschange {
  border: none;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 15px 0px;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid var(--darkgreen);
  background-color: var(--white);
}
.chat-buttonschange:focus {
  background-color: var(--darkgreen);
  color: var(--white);
}

/*-----------ProfilePage------------*/
.blockProfile {
  display: block;
}
.imageProfile {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.redigerIkoner {
  justify-content: space-between;
}

.iconsizeEdit {
  width: 20px;
  height: 20px;
  color: black;
}

.iconsizeProfile {
  color: var(--darkgrey);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
}

.moneyProfile {
  margin-bottom: 5%;
  padding: 5%;
  border-radius: 12px;
  padding: 20px;
  height: 80px;
  justify-content: space-between;
}

.co2Profile {
  margin-bottom: 10%;
  padding: 5%;
  border-radius: 12px;
  padding: 20px;
  height: 80px;
  justify-content: space-between;
}

.savingsProfile {
  padding-top: 10%;
}
.imgName-wrapper {
  gap: 2em;
}

/* ----------- Edit profile - EditProfile.JS --------------*/
section.redigerProfil > * {
  margin-bottom: 5%;
}

.editForm input,
.editForm textarea,
.editForm select {
  margin-bottom: 5%;
  margin-top: 2%;
}
.imgageh {
  width: 50px;
  height: 50px;
}

.editForm input,
.editForm select {
  font-family: var(--inter);
  color: var(--darkgrey);
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 12px;
  border: 1px solid var(--darkgreen);
}

.editForm textarea {
  font-family: var(--inter);
  color: var(--darkgrey);
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 12px;
  border: 1px solid var(--darkgreen);
  height: 7rem;
  margin-bottom: 5%;
}

.editName {
  width: 70%;
  margin-left: 10%;
  margin-right: 1%;
}

.editSubmit {
  background-color: var(--green);
  border: none;
}

.interesser {
  display: flex;
  flex-wrap: wrap;
}

.interestsBtn {
  padding: 0.7rem 1rem 1.9rem;
  height: 35px;
  border-radius: 12px;
  margin-top: 2%;
  justify-content: space-between;
  margin-right: 5px;
}

.interestsBtn p {
  padding-right: 20px;
}

.crossIcon path {
  fill: none;
  stroke: var(--white);
  stroke-width: 2px;
  color: var(--white);
  width: 15px;
  height: 15px;
}

.iconsizeCross {
  width: 20px;
  height: 20px;
}

/*------------ PRAKTISK INFO - PracticalInfo.js----------*/

.goBack a {
  color: black;
  text-decoration: none;
}
.goBack a:visited {
  color: black;
}

.goBackp p {
  margin-top: 1.5%;
  padding-left: 2%;
}

.PracticalIcon {
  margin-bottom: 10%;
}

.practicalInfo hr {
  margin-bottom: 12%;
  margin-top: 12%;
}

.praktisk {
  justify-content: space-between;
}

/* ----------- OPRET BOG - OPRETSALG.JS --------------*/
.opretBogForm {
  padding-bottom: 100px;
}

.imageUpload > input {
  display: none;
}

.opretBogForm input,
select {
  font-family: var(--inter);
  color: black;
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 12px;
  border: 1px solid var(--darkgreen);
}

.opretBogForm textarea {
  font-family: var(--inter);
  color: var(--lightgrey);
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 12px;
  border: 1px solid var(--darkgreen);
  height: 7rem;
}

.opretBogForm input::placeholder {
  font-family: var(--inter);
  color: var(--darkgrey);
  font-weight: 400;
  font-size: 15px;
}

.bogSalgInputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}

.paddingHeader {
  padding-bottom: 1.2rem;
}

/* ------------ BLOG POSTS - PAGE -------------- */
.blogPostPage img {
  width: 100%;
  height: auto;
  margin: 1rem 0;
  border-radius: 25px;
}

.blogPostPage article {
  padding: 1.5rem 0;
}

.blogSection h3 {
  padding-bottom: 1rem;
}

/* ------------ BOOK TEASERS -------------- */
.article-wapper {
  display: grid;
  grid-gap: 20px;
  padding-top: 30px;
}

.card-teaser-wrapper {
  position: relative;
  flex-direction: column;
  gap: 10px;
}
.image-teaser-wrapper {
  background-color: var(--lightgrey);
  animation: pulse 1.5s 1 ease-in-out;
  border-radius: 12px;
}
.book-teaser-image {
  width: 155px;
  height: 155px;
  object-fit: cover;
  border-radius: 12px;
}
.book-cut-title {
  overflow: hidden;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.price-cut {
  overflow: hidden;
  max-width: 4ch;
  white-space: nowrap;
  text-overflow: clip;
}
.price-wrapper {
  gap: 2px;
}

.book-text-wrapper {
  justify-content: space-between;
  align-items: center;
}
.favorite-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}
.favorite-icon path {
  fill: none;
  stroke: var(--green);
  stroke-width: 2px;
}
.readmore-btn {
  width: 100px;
  height: 35px;
  border-radius: 12px;
}
.card-title-btn {
  justify-content: space-between;
}

@keyframes pulse {
  0% {
    background-color: var(--lightgrey);
  }

  50% {
    background-color: var(--darkgrey);
  }

  100% {
    background-color: var(--lightgrey);
  }
}

/* -------------- LOGIN ---------------- */
.loginSection {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  background-color: white;
  z-index: 11111;
}

.loginHeader {
  width: 100%;
  height: 50vh;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.btn-login {
  text-decoration: none;
  padding: 15px 0px;
  width: 327px;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid var(--black);
  justify-content: center;
  gap: 1em;
}

.btnContinue {
  text-align: center;
  display: inline-block;
  padding: 15px 0px;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
}
.login-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
}
.auth-provideres {
  flex-direction: column;
  gap: 1em;
}
.email-btn-wrapper {
  flex-direction: column;
  gap: 0.5em;
}

/*------------SPLASH-------------*/
.SplashSection {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 11111;
  background-color: white;
}

.splashIndhold {
  padding-top: 90%;
}

.splashBtn {
  margin-top: 5%;
}

.splashIndhold p {
  line-height: 2;
  padding-top: 5%;
}

/* ------------ BOOKPAGE -------------- */
.crossicon-wrapper {
  justify-content: end;
}

.title-author-hearticon {
  justify-content: space-between;
}

.price-watch {
  justify-content: space-between;
  align-items: center;
}

.Align-Number-book {
  align-self: center;
}
.wrapper-price-profile-description-delevery {
  flex-direction: column;
  gap: 1em;
  margin-bottom: 50px;
}

.wrapper-information {
  flex-direction: column;
  gap: 1em;
}
.iconsizeHeart svg {
  width: 30px;
  height: 30px;
  stroke: var(--darkgreen);
}
button.iconsizeHeart {
  display: flex;
}
.image-wrapper-book {
  width: 100%;
  min-height: 45vh;
  border-radius: 12px;
}
.iconandnumber {
  gap: 6px;
}

/* ------------- SIGN OUT ----------------*/
.signOut {
  padding-bottom: 10rem;
}

/* ------------ BOOKAGENT -------------- */
.BookAgentCard {
  display: flex;
  align-items: flex-end;
  color: white;
  background-color: var(--darkgreen);
  min-height: 25vh;
  border-radius: 25px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 1rem;
}
.fontting {
  text-transform: capitalize;
}

.BookAgentTitle {
  padding-bottom: 2rem;
}

/* ------------ RESPONSIVE BREAKPOINTS -------------- */
@media only screen and (min-width: 1281px) {
  .navMobile {
    display: none;
  }
  .bottombar {
    display: none;
  }
  .card-teaser-wrapper {
    width: 250px;
    height: auto;
  }
  .image-teaser-wrapper {
    width: 250px;
    height: 250px;
  }
  .article-wapper {
    grid-template-columns: repeat(4, 0fr);
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1280px) {
  .navMobile {
    display: none;
  }

  .wrapper-bottombar {
    display: none;
  }

  .card-teaser-wrapper {
    width: 200px;
    height: auto;
  }
  .image-teaser-wrapper {
    width: 200px;
    height: 200px;
  }
  .article-wapper {
    grid-template-columns: repeat(4, 0fr);
    justify-content: space-between;
  }
}

@media screen and (max-width: 960px) {
  .navMobile {
    display: flex;
  }

  .navDesktop {
    display: none;
  }

  .wrapper-bottombar {
    display: flex;
  }
  .card-teaser-wrapper {
    width: 200px;
    height: auto;
  }
  .image-teaser-wrapper {
    width: 200px;
    height: 200px;
  }
  .article-wapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 0fr));
    justify-content: space-between;
  }

  .swiper-slide {
    min-height: 40vh;
  }
}

@media screen and (max-width: 600px) {
  .navMobile {
    display: flex;
  }

  .navDesktop {
    display: none;
  }

  .wrapper-bottombar {
    display: flex;
  }
  .card-teaser-wrapper {
    width: 155px;
    height: auto;
  }
  .image-teaser-wrapper {
    width: 155px;
    height: 155px;
  }
  .article-wapper {
    grid-template-columns: repeat(auto-fill, minmax(155px, 0fr));
    justify-content: space-between;
  }

  .swiper-slide {
    min-height: 25vh;
  }
}
@media screen and (max-width: 370px) {
  .navMobile {
    display: flex;
  }

  .navDesktop {
    display: none;
  }

  .wrapper-bottombar {
    display: flex;
  }
  .card-teaser-wrapper {
    width: 250px;
    height: auto;
  }
  .image-teaser-wrapper {
    width: 250px;
    height: 250px;
  }
  .article-wapper {
    grid-template-columns: repeat(auto-fill, minmax(250px, 0fr));
    justify-content: center;
  }

  .swiper-slide {
    min-height: 30vh;
  }
}
